:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --white: #ffffff;
  --dark: #2e2f42;
  --light-color: #f4f4fd;
  --text: #434455;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
}
body {
  font-family: var(--primary-font);
  color: var(--text);
  background-color: var(--white);
}

.hat {
  font-size: 16px;
  line-height: 24px;
}
.hat-nav-logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hat-nav-logo.link,
.list-links.link,
.hat-address-list-contacts.link,
.foot-logo.link,
.portfolio-list.link {
  text-decoration: none;
}

.hat-nav-logo-studio {
  color: var(--dark);
}

.list {
  list-style: none;
}

.list-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.list-links:hover,
.list-links:focus,
.hat-address-list-contacts.link:hover,
.hat-address-list-contacts.link:focus {
  color: #404bbf;
}

.hat-address {
  font-style: normal;
}

.hat-address.list {
  list-style: none;
}

.hat-address-list-contacts {
  letter-spacing: 0.02em;
  color: var(--text);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: var(--primary-brand);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
}

.hero {
  background-color: var(--dark);
}

.advantages-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.advantages-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.products-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team {
  background-color: var(--light-color);
}

.team-list-card {
  background-color: var(--white);
}

.team-title {
  font-size: 36px;
  line-height: 40px;
}

.team-list-card-title {
  font-size: 20px;
  line-height: 24px;
}

.team-list-card-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.foot {
  background-color: var(--dark);
}

.foot-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.foot-logo-studio {
  color: var(--light-color);
}

.foot-text {
  color: var(--light-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.sorting-buttons-list-button {
  color: var(--primary-brand);
  background-color: var(--light-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--primary-font);
  letter-spacing: 0.04em;
}
.sorting-buttons-list-button:hover,
.sorting-buttons-list-button:focus {
  color: var(--white);
  background-color: var(--pressed-state);
}

.portfolio-list-link-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.portfolio-list-link-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
